body {
    background-color: blueviolet;
    color: white;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 400;
}

.principal {
    display: flex;
}

footer {
    display: flex;
    justify-content: flex-end;
}

h1 {
    font-family: 'Poppins', sans-serif;;
    font-weight: 700;
}