/* Social icons */

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?y3vunr');
    src:  url('fonts/icomoon.eot?y3vunr#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?y3vunr') format('truetype'),
      url('fonts/icomoon.woff?y3vunr') format('woff'),
      url('fonts/icomoon.svg?y3vunr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-twitter:before {
    content: "\e900";
  }
  .icon-instagram:before {
    content: "\e901";
  }
  .icon-facebook:before {
    content: "\e902";
  }

/* My styles */

body {
    margin: 0;
    padding: 0;
    background-color: hsl(257, 40%, 49%);
    background-image: url(images/bg-desktop.svg);
    color: white;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 400;
}

.container {
    margin: 0 70px;
}

.logo {
    height: 60px;
    margin-top: 50px;
    margin-bottom: 70px;
}

.principal {
    display: flex;
}

.principal-img {
    margin-right: 50px;
}

.principal-text {
    padding-top: 30px;
}

.text {
    margin-bottom: 40px;
}
footer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

h1 {
    font-family: 'Poppins', sans-serif;;
    font-weight: 600;
    font-size: 40px;
}

p {
    font-size: 18px;
}

.registry-link {
    text-decoration: none;
    background-color: white;
    color: hsl(257, 40%, 49%);
    padding: 10px 50px;
    border-radius: 50px;
    box-shadow: 0px 3px 5px 0px black;
    margin-top: 500px;
}

a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 100%;
    padding: 5px;
    margin: 5px;
}

a:hover {
    font-size: 20px;
}

@media screen and (max-width:1440px){

}

@media screen and (max-width:1024px){
    
    .principal-text {
        padding-top: 0;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 14px;
    }

    img {
        width: 450px;
    }

    .logo {
        width: 150px;
        margin-top: 30px ;
        margin-bottom: 40px;
    }

}
@media screen and (max-width:768px){
    .principal{
        flex-wrap: wrap;
        text-align: center;
    }

    .principal-img {
        margin: 0;
        margin-bottom: 60px;
    }

    .img {
        width: 100%;
    }

    h1 {
        font-size: 36px;
    }

    p {
        font-size: 18px;
    }

    .button {
        text-align: center;
        margin-bottom: 50px;
    }

    .registry-link {
        padding: 10px 70px;
        font-size: 14px;
    }

    .logo {
        width: 180px;
    }

    footer {
        justify-content: center;
        margin-top: 50px;
        font-size: 12px;
    }

}
@media screen and (max-width:375px){
    .logo {
        width: 130px;
    }

    .container {
        margin: 0 30px;
    }

    h1 {
        font-size: 26px;
    }

    p {
        font-size: 16px;
    }

    .registry-link {
        font-size: 14px;
    }
}